@model CC2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        main {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            margin: 50px auto;
            max-width: 600px; /* Increased the max-width */
        }

        h2 {
            color: #343a40;
            font-size: 24px;
            margin-bottom: 20px;
        }

        h4 {
            color: #343a40;
            font-size: 18px;
            margin-top: 0;
        }

        .form-group label {
            font-weight: bold;
            color: #6c757d;
        }

        .btn-outline-dark {
            color: #343a40;
            border-color: #343a40;
        }

            .btn-outline-dark:hover {
                background-color: #343a40;
                color: #fff;
            }

        .text-danger {
            color: #dc3545;
        }
    </style>
</head>
<body>

    <main aria-labelledby="title">
        <h3 id="title">Promjeni lozinku</h3>

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
          
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Potvrdi" class="btn btn-outline-dark" />
                </div>
            </div>
        }
    </main>

</body>
</html>
